@font-face {
    font-family:    Nunito;
    src:            url(../fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family:    Nunito;
    src:            url(../fonts/Nunito/Nunito-Bold.ttf);
    font-weight:    300;
}

body {
  --green-darker: #060C00;  
  --green-dark: #295802;
  --green-normal: #62A12D;
  --green-light: #A3DD73;
  --green-lighter: #E2FACE;
  --brown-darker: #090700;
  --brown-dark: #625102;
  --brown-normal: #B59E32;
  --brown-light: #F8DC5C;
  --brown-lighter: #FFF9BD;


  text-align: center;
  font-family: Nunito;
  color: var(--brown-darker);
  /* background: var(--green-normal); */
  background:     
    linear-gradient(217deg, var(--green-light), rgba(255,0,0,0.0) 90.71%),
    linear-gradient(127deg, var(--green-dark), rgba(0,255,0,0) 90.71%),
    linear-gradient(336deg, var(--green-darker), rgba(0,0,255,0) 90.71%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  /* display: table-row; */
  /* flex-direction: column; */

  /* margin: 10% auto; */

  border: solid var(--green-dark);
  cursor: pointer;
  text-align: center;
  -webkit-transition: transform 0.6s;
  transform-style: preserve-3d;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  position:relative;
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
}

.card:after{
  content: "";
  display: block;
  /* padding-bottom: 100%; */
}

.card_front:hover {
  /* border: solid black; */
  background-color: var(--green-normal)
}

/*.card_content {
  width: 100%;
  background: red;
  padding-bottom: 100%;
  position: relative;
}*/

.card.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

.card_front,
.card_back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_front {
  background-color: var(--brown-normal);
  transform: rotateX(0deg);
  height: 100%;
  -webkit-transform: rotateX(0deg);
  position: absolute;
}

.card_back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  background: var(--green-normal);
  text-align: center;

  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto;
}

.card_image {
  display: block;
  /* width: 50%; */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card_flag {
  display: block;
  width: 4vw;
  height: auto;

  /* background-color: grey; */

  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.card_word {
  /* height: 100%; */
  /* background-color: green; */
  font-size: 1.6vw;
  font-family: Nunito;
  font-weight: 300;
  padding: 5%;
  word-wrap: normal;
  margin: auto;
  max-width: 14.5vw;
  min-width: 14.5vw;
  max-height: 6.8vw;
  min-height: 6.8vw;
}

#cards_ {
  width: 60%;
  margin: auto;
}

.board {
  width: 100%;
}

.card_box {
  /* background-color: yellow; */
  margin: auto;
  /* max-height: 10vh; */
  overflow: hidden;
}

.centered {
  text-align: center;
}

/*@media (min-width: 10px) {
  .card {
    width: 15%;
  }
}*/

.menu {
    /* background-color: var(--brown-light); */
    border-radius: 1vw;
    margin: auto 15vw;
    padding-top: 1vw;
}

#title {
    font-size: 3vw;
    margin: 1vw;
}

.button, .button-return {
    display: inline-block;
    padding: 1vw 1.5vw;
    font-size: 100%;
    font-family: Nunito;
    cursor: pointer;
    text-align: center;
    background-color: var(--brown-light);
    border: none;
    border-radius: 1vw;
    box-shadow: 0 10% #999;
    outline:none;
    margin: 1vw;
    color: var(--brown-darker);
}

#btn-title {
    font-weight: 300;
    font-size: 1.5vw;
}

#btn-img {
    width: auto;
    height: 12vw;
    margin: auto 2vw;
}

#btn-img-2 {
  width: auto;
  height: 5vw;
  margin: auto 2vw;
}

.button:hover {background-color: var(--brown-normal)}

.button:active {
    background-color: var(--brown-dark);
    box-shadow: 0 50% #666;
    transform: translateY(3%);
}

.page-gauche, .page-droite, .page-centre {
  width: 33%;
}

.score-panel {
  background-color: var(--brown-light);
  border: none;
  border-radius: 1vw;
  width: 10vw;
  margin: auto;
  padding: 0.3vw 0;
  font-size: 1.3vw;
}

#score {
  font-family: Nunito;
  font-weight: 300;
}

.button-return {
  font-size: 1.3vw;
  font-family: Nunito;
  font-weight: 300;
}